.navigation {
  background-color: white;
  display: flex;
  flex-direction: row;
}

.navigation-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  color: inherit;
  text-decoration: inherit;
  text-transform: uppercase;
  outline: none;
}

.navigation-item:hover {
  color: #3D5870;
  transition: 0.3s;
}
